@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-text {
  color: #19034d;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.static-txt {
  color: #19034d;
  font-size: 60px;
  font-weight: 400;
  display: block;
}

.main .animation-txts {
  margin-top: 10px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  
}

.animation-txts li {
  list-style: none;
  color: #11af46;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.animation-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.animation-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-left: 2px solid #11af46;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}


.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.search-bar {
  width: 400px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 30px;
}

.find-btn {
  background-color: #11af46;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.find-btn:hover {
  background-color: #0f9d3a;
}


.categories {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.styled-text {
  background-color: #cccacae7; 
  color: rgb(65, 63, 63);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
}
