body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #132c55; 
    color: white; 
}

.header-section {
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.header-section h1 {
    margin-bottom: 0.5rem;
    font-size: 2.0rem;
}

.sub-heading {
    color: white;
    font-size: 2.5rem; 
    margin-top: 0.5rem;
    font-weight: normal; 
}

.header-section p {
    margin: 0.5rem 0;
}

.center-text {
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-size: 1.3rem; 
    width: 100%;
}

.center-paragraph {
    text-align: center; 
    margin-top: 1rem;
    color: black; 
    font-size: 1.2rem; 
    width: 100%; 
    line-height: 1.5; 
}

.cards-section {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #1a2b4b; 
}

.card {
    background-color: #fff;
    color: #333;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: left;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card p {
    margin-bottom: 1rem;
}

.card .price {
    color: #21d4a1;
    font-weight: bold;
}

button {
    background-color: #4cafeb;
    color: #fff;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #3a8ad8;
}

.more-button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: #178a59;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
}

.more-button:hover {
    background-color: #178a59;
}
