body {
  display: flex;
  justify-content: flex-end; 
  margin: 0; 
  padding: 20px; 
  background-color: #f0f0f0; 
}

.mentor-list {
  max-width: 390px;
  margin-left: auto; 
}

.mentor-card {
  display: flex; 
  align-items: center; 
  margin: 10px 0; 
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 15px; 
  background-color: #f9f9f9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.mentor-details {
  display: flex;
  flex-direction: column;
}

.mentor-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.mentor-header h3 {
  margin: 0;
  margin-right: 10px;
}

.mentor-rating {
  display: flex;
  align-items: center;
  font-size: 0.9em; 
}

.rating-icon {
  color: gold;
  margin-right: 5px;
}


.mentor-techstack {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
}

.tech-badge {
  padding: 5px 15px; 
  border-radius: 20px; 
  background-color: #e0e0e0; 
  font-size: 0.85em; 
  color: #333; 
  display: inline-block;
  margin: 5px 0;
}
